
header h1 {
    text-align: center;
}
.menu-icon{
    width: 29px;
}
.pageName {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}
.appLogo img {
    width: 50px;
    align-items: center;
}
main{
    height: 100vh;
}

#card-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.slump-dejt{
    display: none;
    perspective: 1000px;
}
.slump-dejt.active{
    display: block;
    margin: 6px auto 6px auto;
    border: solid 2px rgb(97, 97, 97);
    width: 91px;
    height: 92px;
    perspective: 1000px;
    margin-top: 62px;
}
.card-header img, .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.slump-dejt.flipped .card-inner {
    transform: rotateY(180deg);
}
.card-header, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
}
.card-back {
    position: absolute;
    transform: rotateY(180deg);
}
.card-back h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;

    background: rgba(255, 255, 255, 0.85);
    color: black;
    font-size: 13px;
    text-align: center;
}

#stillBild.hidden{
    display: none;
}
.card-front h3 {
    
    width: 100%;
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: white;
}
#gifen{
    display: none;
    width: 400px;
}

#gifen.active{
    display: block;
    margin: 0 auto;
}
#stillBild{
    display: block;
    margin: 0 auto;
    width: 400px;
}
#stillBild.active{
    display: none;
}
.card-information {
    display: flex;
    align-items: center;
    border: solid black 1px;
    border-radius: 6px;
    font-size: 0.9rem;
    background-color: white;
    margin: 30px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 600px;
}
#cardInformation {
    text-align: center;
}
.card-image {
    height: 150px;
}
.informationen {
    margin: 18px;
    background-color: rgba(255, 255, 255, 0.857);
    border-radius: 6px;
}
main {
    padding-top: 60px;

}
#beskrivning{
    margin: 0 30px 0 30px;
    font-size: 1.1em;

    text-align: center;
}

#startaGIF{
    width: 200px;
    height: 50px;
    font-size: 1.1em;
    display: block;
    margin: 30px auto;
    background-color: rgb(230, 224, 196);
}
#date-link {
    display: flex;
    justify-content: flex-end;
}
.date img {
    transform: scale(-1);
    height: 18px;
    width: 30px;
}
.date {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 3px;
    width: fit-content;
    margin: 0 9px 9px 0;
    color: black;
    border: solid 1px black;
}
#startaGIF img{
    width: 50px;
}
#startaGIF:disabled {
    background-color: rgb(217, 221, 218);
}
@media (min-width: 650px) {
   main{
    height: 1000px;
   }
   #logo{
    width: 80px;
   }
}