
html, body {
    margin: 0;
}
#hidden-nav{
    display: none;
}
#hidden-nav.active{
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: rgb(177, 213, 240);
    
}
.save, .save img{
    width: 30px;
    height: 30px;
}

img{
    width: 140px;
    border-radius: 6px;
}

#menu-icon{
    width: 29px;
}
#sök-icon {
    width: 28px;
    height: 28px;
}
#spara-icon{
    width: 30px;
    height: 30px;
}
h2{
    margin-left: 40px;
}

.kort-bild{
    width: 160px;
    margin: 6px;
}
.card{
    display:inline-flex;
    margin-top: 30px;
    border: solid black 1px;
    width:340px;
    border-radius: 8px;
}

#card-besk{
    margin-left: 20px;
}
form{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
form label {
    margin-bottom: 5px;
}
h1{
    font-size: 15px;
    margin: 0;
}

header{
    background-color: rgb(201, 226, 230);
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
}
#logo {
    width: 35px;
}
#appName {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3px;
}
footer{
    position: fixed;
    bottom: 0;
}
#price{
    width: 100px;
}
.field{
    display: flex;
    flex-direction: column;
}

#search-input{
    display: none;
    margin-left:10px;
    padding: 5px;
}

#search-input.active{
    display: inline-block;
}
#search-container{
    display: flex;
    width: 28px;
    align-items: center;
}
.p {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    margin: 8px;
}
.popular-bild {
    border: solid black 1px;
    padding: 6px;
    border-radius: 8px;
    flex-shrink: 0;
}