#hidden-nav{
    display: none;
}
#hidden-nav.show{
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: rgb(177, 213, 240);
    
}

img{
    width: 140px;
    border-radius: 6px;
}

#menu-icon, #sök-icon{
    width: 35px;
    height: 35px;
}
#spara-icon{
    width: 30px;
    height: 30px;
}
h2{
    margin-left: 40px;
}

.kort-bild{
    width: 100px;
    margin: 6px;
}
#card{
    display:inline-flex;
    margin-top: 30px;
    border: solid black 1px;
    width:340px;
    border-radius: 8px;
}

#card-besk{
    margin-left: 20px;
}
form{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

h1{
    font-size: 20px;
    margin: 0;
}

header{
    background-color: rgb(78, 223, 245);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
}
#price{
    width: 100px;
}
.field{
    display: flex;
    flex-direction: column;
}