#kalender-struktur{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 400px;
    margin-top: 40px;
}
.day{
    margin: 3px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px;
    width: 50px;
}

#nästa{
    transform: scale(-1);
    width: 70px;
}
#förra{
    width:70px;
}
.next-date{
    border: 1px solid black;
}

#dejt-heart{
    width: 20px;
    height: 20px;
}