.menu-icon{
    width: 29px;
}
.pageName {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}
.appLogo img{
    align-items: center;
    width: 1.3em;
}

#månad {
    font-size: 1.4em;
    font-weight: 400;
   margin-top: 20px;
}

#kalender-struktur{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 400px;
    margin-top: 20px;
}
.day{
    margin: 3px;
    border: 1px solid rgb(173, 158, 141);
    padding: 2px;
    width: 2.7em;
    height: 4em;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.day h3 {
    font-size: 13px;
    margin-top: 1px;
    margin-left: 1px;
}

#nästa{
    transform: scale(-1);
    width: 70px;
}
#förra{
    width:70px;
}
.next-date{
    border: 1px solid black;
}

#dejt-heart{
    width: 40px;
    height: 33px;
}

h3 {
    margin: 10px;
    padding: 0;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

.planerad-dejt {
    background-color: rgb(221, 211, 199);
    border: 1px solid rgb(133, 113, 92);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-areas: "date name readMore remove";
    align-items: center;
    padding: 2px;
    width: 94%;
    margin: auto;
    margin-bottom: 10px;
}

.planerad-dejt p {
    grid-area: date;
    font-size: 0.9em;
    margin-left: 4px;
}

.planerad-dejt h3 {
    grid-area: name;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0px;
}

.remove-btn {
     background-color: rgb(221, 211, 199);
    border: 1.5px solid rgb(221, 211, 199);
    border-radius: 50px;
    padding: 2px;
     grid-area: remove;
     justify-content: right;
}
.remove-btn img {
   width: 23px;
    height: 23px;
    margin-left: 8px;
}
.read-more {
    background-color: rgb(140, 41, 41);
    width: 5.6em;
    height: 27px;
    border: 0.5px solid rgb(76, 12, 12);
    border-radius: 4px;
    grid-area: readMore;
}

.read-more a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 0.5px;
}