* {
     font-family: "Inter", sans-serif;
}
body {
    margin: 0;
}
#container img {
    width: 96%;
    height: auto;
    margin: auto;
    justify-content: center;
    display: flex;
}
#container h2 {
    font-size: 1.6em;
    text-align: center;
}
#head img {
    width: 40px;
    height: 40px;
    margin: 20px;
}
#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head h1 {
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1.5px;
}
#vald-dejt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px 18px 10px 18px;
}
#vald-dejt button {
    padding: 10px 20px;
}
.dejt-box{
    position: absolute;
    top: 350px;
    background-color: rgb(240, 234, 227);
    width: 300px;
    padding: 30px;
    margin: auto;
    display: flex;
    gap: 1em;
    border: solid rgb(216, 202, 169) 3px;
}
.hidden{
    display: none;
}
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
label {
    margin-top: 10px;
    display: block;
}
#api {
    height: 200px;
    width: 100%;
}
.cook, .pyssel, .sipnpaint, .spelkvall, .tvSpel, .stjarnskadning, .picknick{
    display: none;
}

body.cook .cook, body.pyssel .pyssel, body.sipnpaint .sipnpaint, body.spelkvall .spelkvall, body.tvSpel .tvSpel, body.stjarnskadning .stjarnskadning, body.picknick .picknick{
    display: block;
} 
.stars {
    width: 70px;
}
#filters {
    margin: 18px;
}
/* container för renderingar*/
.map-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "cityProvince cityProvince"
    "h3 h3"
    "rating rating"
    "webben p"
    ; 
    background-color: rgb(240, 234, 227);
    margin: 18px;
    padding: 10px;
    border-radius: 8px;
}
.h3 {
    grid-area: h3;
    margin-top: 0;
    margin-bottom: 0;
}
.cityProvince {
    grid-area: cityProvince;
    font-size: 0.9em;
    margin-top: 0;
    background-color: rgb(219, 214, 207);
    width: max-content;
    padding: 3px;
    border-radius: 3px;
}
.rating img {
    width: 80px;
}
.p {
    grid-area: p;
    justify-self: end;
    align-self: end;
    margin: 6px 0;
}
.rating {
    gap: 9px;
    grid-area: rating;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.webben {
    grid-area: webben;
    justify-self: start;
    align-self: center;
    padding: 6px 14px 6px 14px;
    background-color: white;
    border-radius: 3px;
}
.webben a {
    color: black;
}
#vald-dejt button {
    background-color: rgb(207, 195, 181);
    border-radius: 3px;
    border: 1px solid rgb(205, 194, 181);
    width: 13em;
    margin: 20px 0 20px 0;
    font-size: 0.9em;
    font-weight: 500;
}
#vald-dejt button:hover {
    background-color: rgb(195, 176, 154);
    cursor: pointer;
    border-radius: 3px;
    border: 1.5px solid rgb(32, 32, 32);
    font-weight: 700;
    transition: 0.1s;
    transform: scale(1.02);
}
#container .stars {
    width: 120px;
    height: auto;
    margin-top: 2px;
    display: flex;
    margin-left: auto;
}

#container p {
    margin: 18px;
}

.sipnpaint h3 {
    margin: 0;
    padding: 10px;
    margin-top: 10px;
    font-weight: 550;
    font-size: 1.1em;
}
.nöd {
    padding: 0;
    margin: 0 0 40px 30px;
    line-height: 1.7em;
    font-size: 0.9em;
}

.tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tipsH3 tipsH3"
    "ul1 ul2";
   background-color: rgb(224, 216, 206);
    width: 350px;
    margin: auto;
    border: 0.5px solid rgb(179, 159, 137);
}
.tips ul {
    list-style: none;
}
.ul1 {
    grid-area: ul1;
    border: 0.5px solid rgb(172, 154, 131);
    margin: 0;
    padding: 10px;
    line-height: 2em;
    font-size: 0.9em;
    background-color: rgb(240, 235, 229);
}
.ul2 {
    grid-area: ul2;
     border: 0.5px solid rgb(170, 160, 137);
    margin: 0;
    padding: 10px;
    line-height: 2em;
    font-size: 0.9em;
    background-color: rgb(240, 235, 229);
}
.tips h3 {
    grid-area: tipsH3;
    background-color: rgb(224, 216, 206);
    margin: 0;
    padding: 10px;
    text-align: center;
     border: 0.5px solid rgb(167, 152, 133);
     font-weight: 550;
     font-size: 1.1em;
}
#foodPicknick {
     background-color: rgb(218, 208, 196);
    margin: 15px;
}
#foodPicknick h3 {
    padding-top: 15px;
    text-align: center;
     font-weight: 500;
     font-size: 1.1em;
     padding-bottom: 1px;
}

#foodPicknick ul {
    list-style: none;
    padding: 10px;
    padding-top: 2px;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
}

.nodvandigt h3 {
    font-weight: 510;
     font-size: 1.1em;
     margin-left: 10px;
     margin-bottom: 7px;
}
.nodvandigt ul {
    padding: 0;
    margin: 0 0 25px 25px;
    line-height: 1.7em;
    font-size: 0.9em;
}
#foodPicknick li {
    background-color: rgb(240, 235, 229);
    border: 1px solid rgb(179, 159, 137);
    width: 6.5em;
     font-size: 0.9em;
     padding: 15px;
}

#timeStars h3 {
    padding-top: 15px;
    text-align: center;
     font-weight: 500;
     font-size: 1.1em;
     padding-bottom: 1px;
}

#ulStars {
    list-style: none;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#vinter, #var, #sommar, #höst {
    flex-direction: column;
     display: flex;
    gap: 0.2em;
     list-style: none;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid rgb(209, 198, 186);
    width: 8em;
    padding: 0;
    margin: 0;
    height: 6em;
}
#timeStars {
    margin: auto;
}
.arstid {
     background-color: rgb(223, 213, 200);
    margin: 0;
    padding: 8px;
    font-size: 1.1em;
}
.hourStars {
    padding: 13px;
    font-size: 0.97em;
    align-items: center;
}

/*-------- SPELKVÄLL -------*/
#monopol, #hiddenReal, #hitster, #smart10 {
    display: flex;
    align-items: center;
    background-color: rgb(240, 235, 229);
    margin-bottom: 15px;
    height: 120px;
    
}
.spelkvall h3 {
    text-align: center;
    padding-top: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 1px;
}
.spelkvall li {
   font-size: 0.86em;
   padding: 5px;
   list-style: none;
}
#monopol p, #hiddenReal p, #hitster p, #smart10 p {
   font-size: 1em;
   margin-left: 10px;
   font-weight: 500;
   width: 20%;
   padding: 10px;
    border: 1.5px solid rgb(183, 172, 148);
   text-align: center;
   background-color: rgb(255, 255, 255);
}
#monopol ul, #hiddenReal ul, #hitster ul, #smart10 ul {
     width: 75%;
} 

.pyssel h3 {
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    font-size: 1.2em;
}

#pysselIdeer {
    display: flex;
}
#karlekskort, #moodboard, #lerfigurer {
    padding: 9px;
    list-style: none;
     background-color: rgb(241, 237, 232);
    margin: 6px;
    border: 1px solid rgb(209, 198, 186);
    justify-content: space-evenly;
    width: 33%;
}
#karlekskort li, #moodboard li, #lerfigurer li {
    font-size: 0.9em;
    padding: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cook h3 {
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    font-size: 1.2em;
}
#all-food {
    display: flex;
    margin-bottom: 40px;
}

#förrätt, #huvudrätt, #efterrätt {
    background-color: rgb(241, 237, 232);
    margin: 6px;
    border: 1px solid rgb(209, 198, 186);
    justify-content: space-evenly;
    width: 33%;
}
#förrätt ul, #huvudrätt ul, #efterrätt ul {
    list-style: none;
    padding: 2px;
}
#förrätt li, #huvudrätt li, #efterrätt li {
    font-size: 0.9em;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

#förrätt p, #huvudrätt p, #efterrätt p {
    font-size: 1.03em;
    text-align: center;
    padding: 8px;
    font-weight: 450;
    background-color: rgb(224, 216, 206);
    margin: 0;
    border-bottom: 1px solid rgb(209, 198, 186);
}

#playstation, #xbox, #nintendo {
    display: flex;
    align-items: center;
    background-color: rgb(240, 235, 229);
    margin-bottom: 15px;
    height: 120px;
    
}
.tvSpel h3 {
    text-align: center;
    padding-top: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 1px;
}
.tvSpel li {
   font-size: 0.9em;
   padding: 5px;
   list-style: none;
}

#playstation p, #xbox p, #nintendo p {
   font-size: 1em;
   margin-left: 10px;
   font-weight: 500;
   width: 20%;
   padding: 10px;
    border: 1.5px solid rgb(183, 172, 148);
   text-align: center;
   background-color: rgb(255, 255, 255);
}
#playstation ul, #xbox ul, #nintendo ul {
     width: 75%;
} 



/*---- LÄGG I KALENDER -----*/
