* {
     font-family: "Inter", sans-serif;
}
#container img {
    width: 100%;
    height: auto;
}
#container h2 {
    font-size: 1.6em;
    text-align: center;
}
#head img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}
#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#vald-dejt {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
#vald-dejt button {
    padding: 10px 20px;
}
label {
    margin-top: 10px;
    display: block;
}
#api {
    height: 200px;
    width: 100%;
}
.cook, .pyssel, .sipnpaint, .spelkvall, .tvSpel, .stjarnskadning, .picknick{
    display: none;
}

body.cook .cook, body.pyssel .pyssel, body.sipnpaint .sipnpaint, body.spelkvall .spelkvall, body.tvSpel .tvSpel, body.stjarnskadning .stjarnskadning, body.picknick .picknick{
    display: block;
} 

button {
    background-color: rgb(224, 216, 206);
    border-radius: 7px;
    border: 1.5px solid rgb(183, 172, 148);
    width: 13em;
    margin: 20px 0 20px 0;
    font-size: 0.9em;
    font-weight: 500;
}
#container .stars {
    width: 120px;
    height: auto;
    margin-top: 2px;
    display: flex;
    margin-left: auto;
}

#container p {
    margin: 8px;
}

.sipnpaint h3 {
    margin: 0;
    padding: 10px;
    margin-top: 10px;
    font-weight: 550;
    font-size: 1.1em;
}
.nöd {
    padding: 0;
    margin: 0 0 40px 30px;
    line-height: 1.7em;
    font-size: 0.9em;
}

.tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tipsH3 tipsH3"
    "ul1 ul2";
   background-color: rgb(224, 216, 206);
    width: 350px;
    margin: auto;
    border: 0.5px solid rgb(179, 159, 137);
    border-radius: 5px;
}
.tips ul {
    list-style: none;
}
.ul1 {
    grid-area: ul1;
    border: 0.5px solid rgb(172, 154, 131);
    margin: 0;
    padding: 10px;
    line-height: 2em;
    font-size: 0.9em;
    background-color: rgb(240, 235, 229);
}
.ul2 {
    grid-area: ul2;
     border: 0.5px solid rgb(170, 160, 137);
    margin: 0;
    padding: 10px;
    line-height: 2em;
    font-size: 0.9em;
    background-color: rgb(240, 235, 229);
}
.tips h3 {
    grid-area: tipsH3;
    background-color: rgb(224, 216, 206);
    margin: 0;
    padding: 10px;
    text-align: center;
     border: 0.5px solid rgb(167, 152, 133);
     font-weight: 550;
     font-size: 1.1em;
}
