.menu-icon{
    width: 29px;
}
.pageName {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}
#logo {
    width: 5em;
    margin-left: 0;
}
h1 {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-left: 2.1em;
}
h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fullHeart {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 15px 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 2px;
    border-radius: 15px;
    margin-top: 20px;
    height: 3em;
    border: 2px solid rgba(224, 214, 201, 0.455);
}
#fullHeart img {
    height: 20px;
    width: 20px;
    margin: 0 1px 0 4px;
}
#fullHeart h3 {
    margin: 0;
    font-weight: 450;
    font-size: 0.95em;
}
#dejtdiv {
    margin: 6px;
    text-align: center;
}
#dejt-status{
    width: 200px;
}
#klar-img{
    width: 19px;
    align-items: center;
}
#dejtdiv h2 {
    margin-top: 1.3em;
    font-size: 1.4em;
    font-weight: 580;
}

.message{
    display: none;
    max-width: 300px;
    margin: auto;
    padding: 4px;
    border: 1.5px solid rgb(127, 24, 24);
    text-align: center;
    background-color: rgb(221, 213, 202);
}
.message b {
    font-weight: 500;
}
.message h2 {
    padding: 2px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.message.active{
    display: block;
}
#kryss {
    width: 17px;
    height: 17px;
     padding: 4px;
     border: 1.5px solid rgb(0, 0, 0);
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-top: 2px;
    margin-right: 2px;
}

h3 {
    font-weight: 550;
}

#pågående {
    margin: auto;
    width: 98%;
}
.next-date {
    width: 96%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
     border: 1px solid rgba(224, 214, 201, 0.455);
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    gap: 5em;
}
.done {
    background-color: rgba(198, 228, 173, 0.622);
     border: 1px solid rgba(191, 207, 180, 0.653);
     width: 5.3em;
     height: 2.8em;
     font-size: 1em;
    border-radius: 12px;
    text-align: center;
    color: rgb(67, 103, 58);
    font-weight: 550;
}
#klar-img {
    width: 17px;
}
.next-date h3 {
    margin-left: 1px;
    font-size: 1.2em;
    font-weight: 550;
}
.next-date div {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 8px;
}
#klarNameP {
    flex-direction: column;
}
.next-date img {
    width: 8em;
    border-radius: 25px;
    margin-right: 1px;
}
#slutförda {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.completed h3 {
    font-weight: 500;
    font-size: 1em;
    position: absolute;
    top: 85px;
    left: 10px;
    color: rgb(255, 252, 252);
    background-color: rgba(0, 0, 0, 0.548);
    padding: 4px;
    border-radius: 3px;
}
.completed {    
     position: relative;
    margin-top: 15px;
    border: none;
    width: 100%;
}
.completed img {
    width: 96%;
   border-radius: 15px;
   display: block;
   margin: auto;
}
#doneCirkel {
    width: 18px;
    position: absolute;
    top: 7%;
    left: 80%;
    background-color: rgba(198, 228, 173, 0.75);
     border: 1px solid rgba(158, 177, 146, 0.653);
    padding: 5px;
    border-radius: 50px;
    filter: saturate(80%);
}
#planBtn img {
    width: 25px;
    align-items: center;
}
#planBtn {
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 24, 24);
    width: 280px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: 0.9em;
    margin: auto;
    margin-top: 25px;
}

@media (min-width: 600px){
    .completed{
        width: 250px;
    }
    #slutförda{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #dejtdiv h2{
        margin-top: 0;
    }
    #dejtdiv{
        margin: 0;
    }
}

@media (min-width: 900px){
    #dejt-status{
        width: 250px;
    }
}
@media (min-width: 1000px){
    #slutförda{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1000px;
        margin: auto;
    }
    .appLogo{
        width: 80px;
    }
    .menu-icon {
    width: 40px;
}
}

