.menu-icon{
    width: 29px;
}
.pageName {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}
.appLogo img {
    width: 50px;
    align-items: center;
}

#fullHeart {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 15px 0;
}
#fullHeart img {
    height: 25px;
    width: 25px;
    margin: 0 3px 0 3px;
}
#fullHeart h3 {
    margin: 0;
}
#dejtdiv {
    border-bottom: solid black 1px;
    margin: 10px;
    text-align: center;
}
#dejt-status{
    width: 200px;
}
#klar-img{
    width: 20px;
}

.next-date{
    border: 1px solid black;
    width: 9em;
}
.message{
    display: none;
    max-width: 300px;
    margin: auto;
    padding: 24px;
    border: 1.5px solid rgb(127, 24, 24);
    text-align: center;
    background-color: rgb(240, 235, 229);
}
.message b {
    font-weight: 500;
}
.message button {
    background-color: red;
     width: 25px;
     height: 25px;
    justify-content: center;
    border: 1px solid rgb(127, 24, 24);
    border-radius: 2px;
    justify-content: center;
}
.message.active{
    display: block;
}
#kryss {
    width: 20px;
    height: 20px;
    margin: 2px;
}

h3 {
    font-weight: 550;
}